body{
    background-color: #412567;
    background-color: #1A0B2E;
    background-color: #1A0B2E;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    /* border-bottom: rgba(145, 0, 248, 1); */
}

.logo{
    /* width: 219px;
    height: 32px; */
    font-weight: 700;
}
.tech{
    color: white;
}
/* .wave{
color: ;
} */

.nav-links{
    list-style: none;
    display: flex;
    text-align: center;
    gap: 32px;
    
}



.nav-links li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    gap: 32px;
}


.subscribe-btn{
    border-radius: 10000px;
    padding: 12px 16px 12px 16px;
    border: none;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
  
}
.subscribe-btn:hover{
    opacity: 0.9;
    transform: scale(1.05);
    transition: 0.3s;
}






/* hero section  */
.hero{
    height: 600px;
background-image: url(../assets/hero-bg.png);
background-size: cover;
background-position: center;
display: flex;
justify-content: center;
align-items: center;
}

.hero-content{
    text-align: center;
    position: relative;

}
.gradient-circle{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    /* margin-bottom: 40px; */
}

.mic-img{
    width: 116.67px;
    height: 175px;
}

.tittle{
    font-size: 60px;
    font-weight: 800;
    line-height: 73px;
   color: #FFFFFF;
   margin-top: 40px;
   margin-bottom: 8px;
}

.subtitle{
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0%;
    color:#FFFFFF ;
    margin-bottom: 24px;
}

.hero-buttons{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 8px;  
}

.btn{
    padding: 12px 20px 12px 20px;
    border-radius: 10000px;
    text-decoration: none;
    font-size: 16px;
}
.btn-primary{
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
    color: #000000;
     padding: 12px 20px 12px 20px;
    border-radius: 10000px;
    text-decoration: none;
    font-size: 16px;  
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.btn-secondary{
    border: 1px solid #00FF88;
    color: #00FF88;
     padding: 12px 20px 12px 20px;
    border-radius: 10000px;
    text-decoration: none;
    font-size: 16px;   
    display: inline-flex;
    align-items: center;
    gap: 8px;
}


/* about-section */


.about-section{
    background-color: #1A0B2E;
    padding: 50px 200px 120px 200px;
    color: #FFFFFF;
    text-align: center;
}

.about-title{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-top: 50px;
}

.about-desc ,.about-sub-desc {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 80px;
}

.stats-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
    margin-top: 80px;
    /* border-radius: 15px; */
    border-top: 1px solid var(--white, rgba(255, 255, 255, 0.1));
}

.stat-item h3{
    font-size: 48px;
    font-weight: 900;
   line-height: 58px;
   margin-bottom: 16px;
   color: #00FF88;
}

.stat-item p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
}

/* WHY-CHOOSE */

.why-choose{
    background-color: #230E3D;
  padding: 120px 200px 120px 200px;
  color: white;
}

.section-tittle{
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    line-height: 58px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.grid-container h3 {
    font-size: 24px;
font-weight: 700;
line-height: 29px;
}

.card {
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 40px;
}

.card-icon{
   width: 60px;
height: 60px;
margin-bottom: 15px;
}

.card-1 {
    grid-row: span 2;
}

.card-2{
    grid-column: span 2;
}

.card-3{
    grid-column: span 2;
}

.card-4{
    grid-column: span 2;
}

.card-5 {
    grid-column: span 1;
}

/* featured-section */

.featured-section{
    padding: 120px 200px 120px 200px;
    color: #FFFFFF;
    margin: 0 auto;

}

.section-tittle {
    text-align: center;
    font-size: 48px;
font-weight: 700;
line-height: 58px;
margin-bottom: 40px;
}


.episodes{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    gap: 30px;
    margin-bottom: 120px;
    margin: 0 auto;
}

.episode-card{
     background-color: rgba(53, 17, 101, 0.4);
     text-align: center;
  border-radius: 24px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 16px;
}

.video-box{
    width: 100%;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    aspect-ratio: 16 / 9;
    
}

.video-box iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 16px;
}

.episode-card h3 {
    font-size: 24px;
font-weight: 700;
line-height: 29px;
}

.episode-card p{
    font-size: 16px;
font-weight: 400;
line-height: 24px;
opacity: 0.6;
}

.time{
  display: flex;
  align-items: center;
  gap: 6px;
}

.sectin-title {
    text-align: center;
    font-size: 48px;
font-weight: 700;
line-height: 58px;
margin-top: 120px;

}

.host-card{
    background:  rgba(53, 17, 101, 0.4);
    border-radius: 24px;
    padding: 40px;
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 0 auto;
    text-align: left;
}

.host-name {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    margin-bottom: 16px;
}

.host-bio {  font-size: 16px;
font-weight: 400;
line-height: 24px;
opacity: 0.6;    
}

.social-links {
    /* display: flex; */
    align-items: center;
    gap: 8px;
margin-top: 16px;
background-size: cover;
background-position: center;

}

.social-links img {
    width: 20px;
    height: 20px;
    padding: 10px;
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 50%;
    background-size: cover;
background-position: center;
}