body{
    background-color: #412567;
    background-color: #1A0B2E;
    background-color: #1A0B2E;
}

.hamburger-menu{
    display: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    /* border-bottom: rgba(145, 0, 248, 1); */
}

.logo{
   
    font-weight: 700;
}
.footer-logo{
    color: #FFFFFF;
}

 .icn{
    color: #FFFFFF;
 }

.nav-links{
    list-style: none;
    display: flex;
    text-align: center;
    gap: 32px;
    
}



.nav-links li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    gap: 32px;
}


.subscribe-btn{
    border-radius: 10000px;
    padding: 12px 16px 12px 16px;
    border: none;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
  
}
.subscribe-btn:hover{
    opacity: 0.9;
    transform: scale(1.05);
    transition: 0.3s;
    cursor: pointer;
}






/* hero section  */
.hero{
    height: 600px;
background-image: url(../assets/hero-bg.png);
background-size: cover;
background-position: center;
display: flex;
justify-content: center;
align-items: center;
}

.hero-content{
    text-align: center;
    position: relative;

}
.gradient-circle{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
    /* margin-bottom: 40px; */
}

.badge-new {
    position: absolute;
   background-color: #00FF88;
   color: #1A0B2E;
   border-radius: 1000px;
   box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
   padding: 8px 16px 8px 16px;
   gap: 10px;
  top: 12px;
  right: 23px;

}

.mic-img{
    width: 116.67px;
    height: 175px;
}

.tittle{
    font-size: 60px;
    font-weight: 800;
    line-height: 73px;
   color: #FFFFFF;
   margin-top: 40px;
   margin-bottom: 8px;
}

.subtitle{
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0%;
    color:#FFFFFF ;
    margin-bottom: 24px;
}

.hero-buttons{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 8px;  
}

.btn{
    padding: 12px 20px 12px 20px;
    border-radius: 10000px;
    text-decoration: none;
    font-size: 16px;
    }
    
    .btn-primary:hover{
       opacity: 0.9;
    transform: scale(1.05);
    transition: 0.3s;
    cursor: pointer;
    }

    .btn-secondary:hover{
        opacity: 0.9;
    transform: scale(1.05);
    transition: 0.3s;
    cursor: pointer;
    }

.btn-primary{
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
    color: #000000;
     padding: 12px 20px 12px 20px;
    border-radius: 10000px;
    text-decoration: none;
    font-size: 16px;  
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.btn-secondary{
    border: 1px solid #00FF88;
    color: #00FF88;
     padding: 12px 20px 12px 20px;
    border-radius: 10000px;
    text-decoration: none;
    font-size: 16px;   
    display: inline-flex;
    align-items: center;
    gap: 8px;
}


/* about-section */


.about-section{
    background-color: #1A0B2E;
    padding: 50px 200px 120px 200px;
    color: #FFFFFF;
    text-align: center;
}

.about-title{
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-top: 50px;
}

.about-desc ,.about-sub-desc {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 80px;
}

.stats-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
    margin-top: 80px;
    /* border-radius: 15px; */
    border-top: 1px solid var(--white, rgba(255, 255, 255, 0.1));
}

.stat-item h3{
    font-size: 48px;
    font-weight: 900;
   line-height: 58px;
   margin-bottom: 16px;
   color: #00FF88;
}

.stat-item p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
}

/* WHY-CHOOSE */

.why-choose{
    background-color: #230E3D;
  padding: 120px 200px 120px 200px;
  color: white;
}

.section-tittle{
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    line-height: 58px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.grid-container h3 {
    font-size: 24px;
font-weight: 700;
line-height: 29px;
}

.card {
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 40px;
}

.card-icon{
   width: 60px;
height: 60px;
margin-bottom: 15px;
}

.card p {
    opacity: 60%;
}

.card-1 {
    grid-row: span 2;
}

.card-2{
    grid-column: span 2;
}

.card-3{
    grid-column: span 2;
}

.card-4{
    grid-column: span 2;
}

.card-5 {
    grid-column: span 1;
}

/* featured-section */

.featured-section{
    padding: 120px 200px 120px 200px;
    color: #FFFFFF;
    margin: 0 auto;

}

.section-tittle {
    text-align: center;
    font-size: 48px;
font-weight: 700;
line-height: 58px;
margin-bottom: 40px;
}


.episodes{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    gap: 30px;
    margin-bottom: 120px;
    margin: 0 auto;
}

.episode-card{
     background-color: rgba(53, 17, 101, 0.4);
     text-align: center;
  border-radius: 24px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 16px;
}

.video-box{
    width: 100%;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    aspect-ratio: 16 / 9;
    
}

.video-box iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 16px;
}

.episode-card h3 {
    font-size: 24px;
font-weight: 700;
line-height: 29px;
}

.episode-card p{
    font-size: 16px;
font-weight: 400;
line-height: 24px;
opacity: 0.6;
}

.time{
  display: flex;
  align-items: center;
  gap: 6px;
}

.sectin-title {
    text-align: center;
    font-size: 48px;
font-weight: 700;
line-height: 58px;
margin-top: 120px;

}

.host-card{
    background:  rgba(53, 17, 101, 0.4);
    border-radius: 24px;
    padding: 40px;
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 0 auto;
    text-align: left;
}

.host-name {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    margin-bottom: 16px;
}

.host-bio {  font-size: 16px;
font-weight: 400;
line-height: 24px;
opacity: 0.6;    
}

.social-links {
    /* display: flex; */
    align-items: center;
    gap: 8px;
margin-top: 16px;
background-size: cover;
background-position: center;

}

.social-links img {
    width: 20px;
    height: 20px;
    padding: 10px;
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 50%;
    background-size: cover;
background-position: center;
}

/* footer section  */

.footer-section {
background-image: url(../assets/footer-bg.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 412px;
color: #FFFFFF;
text-align: center;
}

.footer-conrainer{
    margin: 0 auto;
    padding: 120px;
}

.footer-logo {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 32px;
}

.footer-logo{
    font-size: 40px;
    font-weight: 800;
    letter-spacing: -1px;
   
}

.wave-text{
    background: linear-gradient(0deg, rgba(247, 233, 63, 1) 0%,rgba(251, 9, 180, 1) 51%,rgba(145, 0, 248, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: -15px;
}

.footer-socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.social-item{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: 34px;
    opacity: 0.6;
}


.copyright{
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.6;
}


/* responsive */

@media screen and (max-width:576px) {
    .navbar {
        padding: 16px 20px 16px 20px;
    }

    .nav-links, .nav-btn {
        display: none;
    }
    .hamburger-menu {
        display: block;
        }

        .menu-img{
            width: 24px;
            height: 24px;
            cursor: pointer;
        }
       
    /* hero */


    .hero{
        height: auto;
        background-size: cover;
        padding: 60px 20px;
    }

    .gradient-circle{
        width: 200px;
      

        height: 200px;
    }

    .mic-img{
        width: 80px;
        height: 80px;
    }
    .badge-new{
        padding: 8px 16px 8px 16px;
        font-size: 16px;
        top: 4px;
        right: 0px;
    }
    .tittle {
        font-size: 40px;
        line-height: 44px;
        margin-top: 30px;
    }

    .subtitle {
        font-size: 14px;
        padding: 0 10px;
    }

    .about-section{
        padding:  40px 20px 40px 20px;
    }
    /* .about-title{
        font-size: 16px;
        line-height: 20px;
    } */

    .about-desc, .about-sub-desc {
        margin-bottom: 40px;
    }

    .stats-container{
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
    .why-choose {
        padding:  40px 20px 40px 20px;
    }

    .section-tittle{
        font-size: 32px;
        line-height: auto;
    }

    .grid-container{
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .card-1, .card-2, .card-3, .card-4, .card-5 {
        grid-column: span 1 !important;
        grid-row: span 1 !important;
    }
    .card{
        padding: 24px;
        border-radius: 24px;
    }

    .card h3 {
        font-size: 22px;

    }

    .card p{
        font-size: 16px;
        line-height: 24px;
        opacity: 60%;
    }

    .featured-section{
        padding: 40px 20px 40px 20px;
    }

    .episodes {
        grid-template-columns: 1fr; 
        gap: 24px;
        margin-bottom: 60px;
    }

    .host-card{
        flex-direction: column;
        text-align: center;
        gap: 16px;
    }

    .footer-section {
        padding: 40px 20px 40px 20px;
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat;
      
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       background-size: 100% 100%;
        background-image: url(../assets/footer-bg.png);
       
       
    }
    .footer-conrainer{
        height: auto;
     
        
    }

    .footer-logo {
        font-size: 32px;
        margin-bottom: 24px;
    }
    .footer-socials{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 16px;
    }
}