body{
    background-color: #412567;
    background-color: #1A0B2E;
    background-color: #1A0B2E;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    /* border-bottom: rgba(145, 0, 248, 1); */
}

.logo{
    /* width: 219px;
    height: 32px; */
    font-weight: 700;
}
.tech{
    color: white;
}
/* .wave{
color: ;
} */

.nav-links{
    list-style: none;
    display: flex;
    text-align: center;
    gap: 32px;
    
}



.nav-links li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    gap: 32px;
}


.subscribe-btn{
    border-radius: 10000px;
    padding: 12px 16px 12px 16px;
    border: none;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
  
}
.subscribe-btn:hover{
    opacity: 0.9;
    transform: scale(1.05);
    transition: 0.3s;
}



/* hero section  */
.hero{
    height: 600px;
background-image: url(../assets/hero-bg.png);
background-size: cover;
background-position: center;
display: flex;
justify-content: center;
align-items: center;
}

.hero-content{
    text-align: center;
    position: relative;

}
.gradient-circle{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    /* margin-bottom: 40px; */
}

.mic-img{
    width: 116.67px;
    height: 175px;
}

.tittle{
    font-size: 60px;
    font-weight: 800;
    line-height: 73px;
   color: #FFFFFF;
   margin-top: 40px;
   margin-bottom: 8px;
}

.subtitle{
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0%;
    color:#FFFFFF ;
    margin-bottom: 24px;
}

.hero-buttons{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 8px;  
}

.btn{
    padding: 12px 20px 12px 20px;
    border-radius: 10000px;
    text-decoration: none;
    font-size: 16px;
}
.btn-primary{
    background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
    color: #000000;
     padding: 12px 20px 12px 20px;
    border-radius: 10000px;
    text-decoration: none;
    font-size: 16px;  
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.btn-secondary{
    border: 1px solid #00FF88;
    color: #00FF88;
     padding: 12px 20px 12px 20px;
    border-radius: 10000px;
    text-decoration: none;
    font-size: 16px;   
    display: inline-flex;
    align-items: center;
    gap: 8px;
}